html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: 18px/1.2 "Alegreya Sans";
}

body {
  color: #666;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .wrapper {
    min-width: 100%;
    overflow: hidden;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.chooko {
  background: url("../images/chookolate.png") 90% center no-repeat, url("../images/bg_list.png") right bottom no-repeat;
  background-color: #86C3D7;
  min-height: 60vh;
  color: #fff;
  height: 100vh;
  padding: 1.3333333333rem 0 2.7777777778rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .chooko {
    background-image: url("../images/bg_list.png");
    background-position: right 45%;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .chooko {
    background-size: 18rem;
    background-position-y: 28%;
  }
}
.chooko__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.chooko__title-container {
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .chooko__title-container {
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .chooko__title-container:before {
    content: url("../images/chooko-full.png");
  }
}
@media screen and (max-width: 480px) {
  .chooko__title-container:before {
    margin-bottom: 30px;
  }
}
.chooko__main-title {
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 480px) {
  .chooko__main-title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 0.5555555556rem;
  }
}
.chooko__main-desc {
  font-size: 1.1666666667rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.7777777778rem;
}
@media screen and (max-width: 768px) {
  .chooko__main-desc {
    padding-left: 25.5%;
    padding-right: 25.5%;
  }
}
@media screen and (max-width: 480px) {
  .chooko__main-desc {
    font-size: 1rem;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1.3888888889rem;
  }
}
.chooko:before {
  content: url("../images/list_blur.png");
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.chooko::after {
  content: url("../images/lists_combo.png");
  position: absolute;
  right: 0;
  bottom: -2.5rem;
}
@media screen and (max-width: 768px) {
  .chooko:before, .chooko:after {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .chooko__btn.btn {
    font-size: 1.0555555556rem;
    padding: 1.0555555556rem 2rem;
  }
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 14px;
}

.contacts-phone {
  display: flex;
  align-items: center;
  column-gap: 0.2777777778rem;
  text-decoration: unset;
  color: inherit;
  font-size: 1.2222222222rem;
  white-space: nowrap;
}
.contacts-phone__icon {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .header__contact-phone {
    display: none;
  }
}

.humburger {
  width: 26px;
  height: 24px;
  display: none;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .humburger {
    display: block;
    margin-right: 9px;
    margin-top: 9px;
  }
}
@media screen and (max-width: 480px) {
  .humburger {
    margin-right: 0;
  }
}

.humburger_line {
  display: block;
  height: 4px;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}

.humburger_line + .humburger_line {
  margin-top: 5px;
}

.main-menu {
  padding-top: 5px;
}
.main-menu__list {
  list-style-type: none;
  display: flex;
  column-gap: 1.5rem;
  row-gap: 5px;
  padding-left: unset;
  margin: 0;
  flex-wrap: wrap;
}
.main-menu__link {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .main-menu {
    display: none;
  }
}

.advantages {
  display: flex;
  column-gap: 1.9444444444rem;
  padding-left: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}
.advantages__item {
  list-style-type: unset;
}

.advantage {
  display: flex;
  column-gap: 0.5555555556rem;
  font-size: 0.8888888889rem;
}
.advantage__icon {
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 2.5rem;
}
.advantage__icon--list {
  background-image: url("../images/icons/advantage/sheet.svg");
}
.advantage__icon--delivery {
  background-image: url("../images/icons/advantage/delivery.svg");
}
.advantage__icon--figure {
  background-image: url("../images/icons/advantage/figure.svg");
}
.advantage__desc {
  max-width: 4.7222222222rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: unset;
  font-size: 16px;
  font-weight: 800;
  padding: 1.1666666667rem 2.2777777778rem;
  border: none;
  outline: 0;
  border-radius: 5.5555555556rem;
  -webkit-border-radius: 5.5555555556rem;
  -moz-border-radius: 5.5555555556rem;
  -ms-border-radius: 5.5555555556rem;
  -o-border-radius: 5.5555555556rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}
.btn.btn--white {
  background-color: #fff;
  color: #497870;
}
.btn.btn--white:hover {
  background-color: #497870;
  color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn.btn--green {
  background-color: #497870;
  color: #fff;
}
.btn.btn--green:hover {
  background-color: #fff;
  color: #497870;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn.btn--transparent {
  background-color: transparent;
  color: #497870;
}
.btn.btn--transparent:hover {
  box-shadow: 0 0 0 0.0555555556rem #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.section {
  position: relative;
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
@media (max-width: 480px) {
  .section {
    height: auto;
    padding-top: 3.0555555556rem;
    padding-bottom: 3.0555555556rem;
  }
}
.section__heading {
  margin-top: 3.4444444444rem;
}

.heading {
  text-align: center;
  margin-bottom: 1.7777777778rem;
}
.heading__title {
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  color: #292929;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
}
.heading__title--green {
  color: #365A49;
}
@media (max-width: 480px) {
  .heading__title {
    font-size: 2.2222222222rem;
  }
}
.heading__subtitle {
  padding-left: 26%;
  padding-right: 26%;
}
@media screen and (max-width: 768px) {
  .heading__subtitle {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (max-width: 480px) {
  .heading__subtitle {
    padding-left: 0;
    padding-right: 0;
  }
}

.why {
  background: url("../images/list_gray.png") left center no-repeat;
}
.why__heading {
  margin-bottom: 2.7777777778rem;
}
.why::after {
  content: url("../images/decor-fruits-1.png");
  position: absolute;
  left: 0;
  bottom: calc(-8.8888888889rem / 2);
}
@media screen and (max-width: 480px) {
  .why::after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .why {
    background-position-y: 4.6666666667rem;
  }
  .why .why__heading .heading__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .why {
    background: unset;
  }
}

.features {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}
@media screen and (max-width: 480px) {
  .features {
    flex-direction: column;
    gap: 2rem;
  }
}

.features__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.features__item:first-child {
  padding-left: 0;
}
.features__item:last-child {
  padding-right: 0;
}
.features__item:not(:last-of-type):before {
  content: url("data:image/svg+xml,%3Csvg width='67' height='21' viewBox='0 0 67 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.4998 -0.000976562C39.2989 -0.000976562 43.9998 4.70002 43.9998 10.4991C43.9998 16.2982 39.2989 20.9992 33.4998 20.9992C27.7009 20.9992 22.9999 16.2982 22.9999 10.4991C22.9999 4.70002 27.7009 -0.000976562 33.4998 -0.000976562ZM60.4999 3.99937C64.0897 3.99937 66.9999 6.90937 66.9999 10.4991C66.9999 14.0893 64.0897 16.9996 60.4999 16.9996C56.91 16.9996 53.9998 14.0893 53.9998 10.4991C53.9998 6.90937 56.91 3.99937 60.4999 3.99937ZM12.9999 10.4991C12.9999 6.90937 10.0897 3.99937 6.49994 3.99937C2.90999 3.99937 -0.00012207 6.90937 -0.00012207 10.4991C-0.00012207 14.0893 2.90999 16.9996 6.49994 16.9996C10.0897 16.9996 12.9999 14.0893 12.9999 10.4991Z' fill='%23F2F5F4'/%3E%3C/svg%3E%0A");
  position: absolute;
  right: 0;
  top: 3.3333333333rem;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .features__item:not(:last-of-type):before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .features__item {
    padding-left: 0;
    padding-right: 0;
  }
}

.feature {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .feature {
    display: flex;
    align-items: center;
    column-gap: 0.6666666667rem;
    text-align: left;
  }
}

.feature__img {
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .feature__img {
    margin-bottom: 0;
  }
}

.feature__icon {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-color: #F2F5F4;
  background-position: center center;
  background-size: 64px 68px;
  background-repeat: no-repeat;
}
.feature__icon--icon-1 {
  background-image: url("../images/icons/feature/feature_1.svg");
}
.feature__icon--icon-2 {
  background-image: url("../images/icons/feature/feature_2.svg");
}
.feature__icon--icon-3 {
  background-image: url("../images/icons/feature/feature_3.svg");
}

.feature__name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
}

.feature__name + .feature__desc {
  margin-top: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .feature__name + .feature__desc {
    margin-top: 0.4444444444rem;
  }
}

.feature__desc {
  color: #666666;
  line-height: 1.3;
}

.opinions {
  background: url("../images/decor-fruits-2.png") calc(100% - 23px) 1.1666666667rem no-repeat;
}
.opinions:before {
  content: url("../images/section-decor-list.png");
  position: absolute;
}
.opinions:after {
  content: "";
  position: absolute;
  height: 18.1666666667rem;
  background: url("../images/decor-fruits-3.png") left center no-repeat;
  width: 11.1111111111rem;
}
.opinions:before, .opinions:after {
  bottom: calc(-18.1666666667rem / 2);
  z-index: 2;
}
@media (max-width: 480px) {
  .opinions {
    padding-bottom: 4.6111111111rem;
  }
}

.reviews__content {
  padding: 2.3333333333rem;
  background: url("../images/review_decor.png") right 1.2222222222rem no-repeat;
  background-color: #F8FAF9;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 2.1111111111rem;
}
.reviews__content:before {
  content: "";
  display: block;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  top: calc( -4.6111111111rem + 25px);
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .reviews__content:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .reviews__content {
    flex-direction: column;
    row-gap: 1.9444444444rem;
    padding: 3.1111111111rem 1.3333333333rem 1.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    row-gap: 0.8888888889rem;
  }
}

.reviews__pic {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__pic {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__pic-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__info {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .reviews__info {
    text-align: center;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 0.6666666667rem;
}

.reviews__author {
  margin-top: 1.6666666667rem;
  line-height: 1.3;
  color: #292929;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .reviews__author {
    margin-top: 0.8888888889rem;
  }
}

.reviews__tabs {
  list-style-type: none;
  padding-left: 0;
  margin: 0.8333333333rem 0 0 0;
  display: flex;
  justify-content: center;
  column-gap: 0.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__tabs {
    margin-top: 1.7777777778rem;
  }
}

.reviews__text {
  margin-right: 15%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-right: unset;
  }
}

.round-pic {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent;
}
@media screen and (max-width: 480px) {
  .round-pic {
    width: 3.7777777778rem;
    height: 3.7777777778rem;
  }
}
.round-pic--active {
  border-color: #365A49;
}

.round-pic__link {
  display: block;
}

.round-pic__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section-delivery {
  background: url(../images/pattern-bg.jpg) left center no-repeat #cfdedb;
  background-size: cover;
}
@media (max-width: 480px) {
  .section-delivery {
    padding-top: 4.7222222222rem;
    padding-bottom: 4.4444444444rem;
    background-position-x: center;
  }
}
.section-delivery__heading {
  margin-bottom: 3.3333333333rem;
}
@media (max-width: 480px) {
  .section-delivery__heading {
    margin-bottom: 2.2222222222rem;
  }
}

.form {
  display: flex;
  column-gap: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding-left: 17%;
    padding-right: 17%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__col {
  flex: 1;
}

.form__row {
  display: flex;
  gap: 0.9444444444rem;
  margin-bottom: 0.7777777778rem;
}

.form__group {
  flex: 1;
}

.form__controls {
  display: flex;
  gap: 1.6666666667rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__controls + .form__controls {
  margin-top: 1.1111111111rem;
}

.form__btn {
  margin-top: 2.4444444444rem;
  display: flex;
  gap: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__btn {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.label-group {
  color: #497870;
}
.label-group__name {
  color: inherit;
  margin-bottom: 0.1111111111rem;
}
.label-group__input {
  border: unset;
  outline: unset;
  box-shadow: unset;
  background-color: #fff;
  border-radius: 0.2222222222rem;
  font-size: 0.7777777778rem;
  font-family: "Open Sans";
  padding: 1rem 0.6666666667rem 1.1111111111rem;
  width: 100%;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .label-group__input {
    padding: 0.5555555556rem;
  }
}
.label-group__input:not(.label-group__input--radio):focus, .label-group__input:not(.label-group__input--radio):hover {
  box-shadow: 0 0 0 0.1666666667rem #DEE2BD;
  transition: 0.2s;
}
.label-group__input::placeholder {
  color: #cecece;
}
.label-group__input--textarea {
  resize: none;
  height: 4.5555555556rem;
}
@media (min-width: 1099px) {
  .label-group__input--textarea {
    height: 8rem;
  }
}
.label-group__input.label-group__input--hidden {
  display: none;
}

.radio {
  position: relative;
  color: #365A49;
  display: flex;
  align-items: center;
  column-gap: 0.5555555556rem;
  -webkit-user-select: none;
          user-select: none;
}
.radio__pseudo-input {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.radio__pseudo-input:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: inherit;
  transform: scale(0);
  transition: 0.2s;
}
.radio__input {
  width: 0.0555555556rem;
  height: 0.0555555556rem;
  opacity: 0;
  position: absolute;
  left: -555.5rem;
}
.radio__input:checked ~ .radio__pseudo-input:before {
  transform: scale(1);
  transition: 0.2s;
  background: #365A49;
}
.radio--checkbox .radio__pseudo-input {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__pseudo-input:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: inherit;
  transform: scale(0);
  transition: 0.2s;
}
.radio--checkbox .radio__input:checked ~ .radio__pseudo-input:before {
  transform: scale(1);
  transition: 0.2s;
  background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.44954 0.551587C8.80734 -0.184046 7.70642 -0.184046 7.06422 0.459633L3.66973 3.86193L2.93578 3.1263C2.29358 2.48262 1.19266 2.48262 0.550461 3.1263H0.458717C-0.183484 3.76998 -0.183484 4.87343 0.458717 5.5171L2.47707 7.54009C2.84404 7.90791 3.30275 7.99986 3.66973 7.99986C4.12844 7.99986 4.49542 7.81595 4.86239 7.54009L9.44954 2.94239C10.0917 2.29871 10.0917 1.19526 9.44954 0.551587Z' fill='%23497870'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: contain;
}

.radio__name {
  line-height: 1;
}

.fix-dots {
  position: fixed;
  right: 2.7777777778rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 100;
}
@media screen and (min-width: 1100px) {
  .fix-dots {
    display: flex;
    flex-direction: column;
    row-gap: 0.2777777778rem;
  }
}

.fix-dots__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.0555555556rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.1111111111rem solid transparent;
  position: relative;
}
.fix-dots__item:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}
.fix-dots__item--active {
  border-color: #fff;
}