.compound {
    position: relative;

    &__box-icon {
        background-color: #86C3D7;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 91px;
        height: 91px;
        cursor: pointer;
        row-gap: 8px;

        &:hover  + .compound-detail{
            display: flex;
        }
    }

    &__icon {
        width: 46px;
        height: 46px;
        fill: #fff;
    }

    &__icon-name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
    }
}