.label-group {
    color: $greenColor;

    &__name{
        color: inherit;
        margin-bottom: rem(2px);
    }

    &__input {
        border: unset;
        outline: unset;
        box-shadow: unset;
        background-color: #fff;
        border-radius: rem(4px);
        font-size: rem(14px);
        font-family: 'Open Sans';
        padding: rem(18px) rem(12px) rem(20px);
        width: 100%;
        transition: .2s;

        @include tablet {
            padding: rem(10px);
        }
        
        @media (max-width: 768px){

        }

        &:not(.label-group__input--radio):not(.input-error):focus,
        &:not(.label-group__input--radio):not(.input-error):hover{
            box-shadow: 0 0 0 rem(3px) #DEE2BD;
            transition: .2s;
        }

        &::placeholder{
            color: #cecece;  
        }

        &--textarea {
            resize: none;
            height: rem(82px);

            @media (min-width: 1099px){
                height: rem(144px);
            }
        }

        &.label-group__input--hidden{
            display: none;
        }
    }

    .error {
        margin-top: 5px;
    }
}