.contacts-phone {
    display: flex;
    align-items: center;
    column-gap: rem(5px);
    text-decoration: unset;
    color: inherit;
    font-size: rem(22px);
    white-space: nowrap;
    transition: .3s;

    &__icon {
        width: rem(14px);
        height: rem(14px);
        flex-shrink: 0;
        fill: #fff;
        transition: .3s;
    }

    &:hover {
        color: $greenColorDark;

        .contacts-phone__icon {
            fill: $greenColorDark;
        }
    }
}