.chooko {
    background: url('../images/chookolate.png') 90% center no-repeat,
    url('../images/bg_list.png') right bottom no-repeat;
    background-color: $blueColor;
    min-height: 60vh;
    color: #fff;
    height: 100vh;
    padding: rem(24px) 0 rem(50px);
    position: relative;

    @include tablet {
        background-image: url('../images/bg_list.png');
        background-position: right 45%;
        background-repeat:  no-repeat;
    }

    @include phone {
        background-size: rem(324px);
        background-position-y: 28%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title-container {
        max-width: 40%;

        @include tablet {
            max-width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:before {
                content: url('../images/chooko-full.png');
            }
        }

        @include phone {
            &:before {
                margin-bottom: 30px;
            }
        }
    }

    &__main-title {
        text-transform: uppercase;
        font-size: rem(48px);
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: rem(17px);

        @include phone {
            font-size: rem(40px);
            line-height: rem(36px);
            margin-bottom: rem(10px);
        }
    }

    &__main-desc {
        font-size: rem(21px);
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: rem(32px);

        @include tablet {
            padding-left: 25.5%;
            padding-right: 25.5%;
        }

        @include phone {
            font-size: rem(18px);
            padding-left: 15%;
            padding-right: 15%;
            margin-bottom: rem(25px);
        }
    }

    &:before{
        content: url('../images/list_blur.png');
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
    }

    &::after {
        content: url('../images/lists_combo.png');
        position: absolute;
        right: 0;
        bottom: rem(-45px);
    }

    &:before, &:after {
        @include tablet {
            display: none;
        }    
    }
}

@include phone {
    .chooko__btn.btn {
        font-size: rem(19px);
        padding: rem(19px) rem(36px);
    }
}