.section {
    position: relative;
    // height: 100vh;
    height: 100%;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        min-height: rem(800px);
    }

   @include phone  {
        padding-top: rem(30px);
        padding-bottom: rem(30px);
    }

    &__heading {
        margin-top: rem(62px);
    }
}
