.delivery{
    background-color: #cfdedb;
    background: url('../images/decor-fruits-6.png'), url(../images/pattern-bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: rem(51px) 91%, center center;


    &:before,
    &:after {
        position: absolute;
    }

    &:before {
        content: url('../images/decor-fruits-8.png');
        top:rem(-120px);
        right: 0;

        @include phone {
            top: rem(-140px);
            transform: scale(.5) translateX(100px);
        }
    }

    &:after {
        content: url('../images/decor-fruits-5.png');
        bottom: 9%;
        right: rem(10px);

        @include phone {
            display: none;
        }
    }


    @include phone{
        //comment after work0ut
        // padding-left: rem(10px);
        // padding-right: rem(10px); 
        padding-top: rem(85px);
        padding-bottom: rem(80px);
        background-position-x: center;

        background-image: url(../images/pattern-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    &__heading {
        margin-bottom: rem(60px);

        @include phone{
            margin-bottom: rem(40px);
        }
    }
}