.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    column-gap: rem(20px);
    flex-wrap: wrap;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }

    &__item {
        flex: 1;
        text-align: center;
        position: relative;

        @include tablet {
            margin-bottom: rem(10px);
        }
    }

    &__box-pic {
        height: rem(290px);
        margin-bottom: rem(21px);

        @include phone {
            height: rem(180px);
            width: rem(138px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    &__name {
        cursor: pointer;
        border: none;
        background: transparent;
        position: relative;
        font-weight: bold;
        font-size: rem(21px);
        color: #292929;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
        margin-left: auto;
        margin-right: auto;

        &:after {
            content: '';
            border: 5px solid transparent; 
            border-top: 8px solid green;
            transform: translateY(4px);
            transition: .3s;
        }

        &--active {
            &:after {
                transform: translateY(-4px) rotate(180deg);
            }
        }
    }

    &__post {
        color: #292929;
        margin-bottom: 5px;
        font-weight: 500;
        margin-top: unset;
    }

    &__desc {
        height: 0;
        overflow: hidden;
        transition: height .3s;
    }

    &--desktop {

        .team-list__desc {
            position: absolute;
            top: 100%;
        }
        
        @include tablet {
            display: none;
        }
    }

    &--mobile {
        display: none;

        @include tablet {
            display: flex;
            padding: 0 34%;
        }

        @include phone {
            padding: 0 15%;
        }
    }
}