.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // column-gap: rem(16px);
    column-gap: 14px;
}

.header__contact-phone {
    @include tablet {
        display: none;
    }
}
.header__menu {
    @include tablet {
        display: none;
    }
}