.heading {
    text-align: center;
    margin-bottom: rem(32px);

    &__title {
        text-transform: uppercase;
        font-size: rem(48px);
        color: $blackColor;
        font-weight: bold;
        margin-bottom: rem(20px);

        &--green{
            color: $greenColorDark
        }

        @media (max-width: 480px){
            font-size: rem(40px);
        }
    }
    
    &__subtitle {
        padding-left: 26%;
        padding-right: 26%;

        @include tablet {
            padding-left: 20%;
            padding-right: 20%;
        }

        @include phone {
            padding-left: 0;
            padding-right: 0;
        }
    }
}