.modal {
    display: none;
    text-align: center;
}
.fancybox-content {
    padding: rem(35px) rem(70px);
}
.fancybox-button {
    display: none;
}
.modal__content {
    color: #000000;
    margin-bottom: rem(25px);
}
.input-error {
    box-shadow: 0 0 0 0.1666666667rem #f00;
}
