.opinions {
    background: url('../images/decor-fruits-2.png') calc(100% - 23px) rem(21px) no-repeat;

    &:before {
        content: url('../images/section-decor-list.png');
        position: absolute;
    }

    &:after {
        content: '';
        position: absolute;
        height: rem(327px);
        background: url('../images/decor-fruits-3.png') left center no-repeat;
        width: rem(200px);
    }

    &:before, 
    &:after {
        bottom: calc(#{rem(-327px)} / 2);
        z-index: 2;
    }

    @include phone{
        padding-bottom: rem(83px);
        background-position-x: 110%;
        background-position-y: rem(66px);
    }
}