.social {
    display: flex;
    align-items: center;
    gap: rem(14px);

    &__item,
    &__item-link {
        display: block;
    }

    &__icon {
        display: block;
        width: 20px;
        height: 20px;
        fill: rgb(0, 0, 0, .3);
        transition: .3s;

        &:hover {
            fill: #000;
        }
    }
}