.advantage {
    display: flex;
    column-gap: rem(10px);
    font-size: rem(16px);
    
    &__icon {
        flex-shrink: 0;
        width: rem(45px);
    }

    &__desc {
        max-width: rem(85px);
    }
}