
.feature {
    text-align: center;
}

.feature__img{
    margin-bottom: rem(20px);
}

.feature__img-container {
    background-color: #F2F5F4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    width: rem(128px);
    height: rem(128px);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.feature__icon{
    flex-shrink: 0;
    width: rem(68px);
    height: rem(68px);    
}

.feature__name {
    font-weight: bold;
    font-size: rem(27px);
    color: #292929;
}
.feature__name + .feature__desc {
    margin-top: rem(15px);
}

.feature__desc{
    color: #666666;
    line-height: 1.3;
}