.heading {
    text-align: center;

    &__title {
        text-transform: uppercase;
        font-size: 48px;
        color: #292929;
        font-weight: bold;
        margin-bottom: 20px;

        &--green{
            color: $greenColor
        }
    }

    &__subtitle {
        color: #666;
    }


}