.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-phone {
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-decoration: unset;
    color: inherit;
    font-size: 22px;

    &__icon {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
    }
}