.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // column-gap: rem(16px);
    column-gap: 14px;
}

.contacts-phone {
    display: flex;
    align-items: center;
    column-gap: rem(5px);
    text-decoration: unset;
    color: inherit;
    font-size: rem(22px);

    white-space: nowrap;

    &__icon {
        width: rem(14px);
        height: rem(14px);
        flex-shrink: 0;
        fill: #fff;
    }
}

.header__contact-phone {
    @include tablet {
        display: none;
    }
}
.header__menu {
    @include tablet {
        display: none;
    }
}