@mixin ratio ($radius, $widthCheck: 13px) {
    width: rem(25px);
    height: rem(25px);
    background-color: #fff;
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius;

    &:before{
        content: '';
        width: $widthCheck;
        height: $widthCheck;
        border-radius: inherit;
        transform: scale(0);
        transition: .2s;
    }
}

@mixin ratioActive {
    transform: scale(1);
    transition: .2s;

    //почему то не работает
    // @if $bg == true{
    //     background: $bgIcon center no-repeat;
    //     background-size: contain;
    // } @else {
    //     background: $greenColorDark;
    // }
}

.radio {
    position: relative;
    color: $greenColorDark;
    display: flex;
    align-items: center;
    column-gap: rem(10px);
    user-select: none;

    &__pseudo-input {
        @include ratio(50%);
    }
    
    &__input {
        width: rem(1px);
        height: rem(1px);
        opacity: 0;
        position: absolute;
        left: rem(-9999px);

        &:checked ~ .radio__pseudo-input {
            &:before {
                @include ratioActive;
                background: $greenColorDark;
            }
        }
    }

    &--checkbox{
        .radio__pseudo-input {
            @include ratio(rem(4px), 10px);
        }

        .radio__input:checked ~ .radio__pseudo-input:before {
            @include ratioActive;

            background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.44954 0.551587C8.80734 -0.184046 7.70642 -0.184046 7.06422 0.459633L3.66973 3.86193L2.93578 3.1263C2.29358 2.48262 1.19266 2.48262 0.550461 3.1263H0.458717C-0.183484 3.76998 -0.183484 4.87343 0.458717 5.5171L2.47707 7.54009C2.84404 7.90791 3.30275 7.99986 3.66973 7.99986C4.12844 7.99986 4.49542 7.81595 4.86239 7.54009L9.44954 2.94239C10.0917 2.29871 10.0917 1.19526 9.44954 0.551587Z' fill='%23497870'/%3E%3C/svg%3E%0A") center no-repeat;
            background-size: contain;
        }
    }
}

.radio__name {
    line-height: 1;
}

//TODO на основе воркшопа переделал

// // .radio .radio__input:checked + .radio__pseudo-input:before {

// // }

// .radio.radio--checkbox .radio__input:checked + .radio__pseudo-input:before {
//     @include ratioActive;

//     background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.44954 0.551587C8.80734 -0.184046 7.70642 -0.184046 7.06422 0.459633L3.66973 3.86193L2.93578 3.1263C2.29358 2.48262 1.19266 2.48262 0.550461 3.1263H0.458717C-0.183484 3.76998 -0.183484 4.87343 0.458717 5.5171L2.47707 7.54009C2.84404 7.90791 3.30275 7.99986 3.66973 7.99986C4.12844 7.99986 4.49542 7.81595 4.86239 7.54009L9.44954 2.94239C10.0917 2.29871 10.0917 1.19526 9.44954 0.551587Z' fill='%23497870'/%3E%3C/svg%3E%0A") center no-repeat;
//     background-size: contain;
// }