.video-api {
    background-color: #F8FAF9;


    &:before,
    &:after {
        position: absolute;
        z-index: 1;
    }

    &:after {
        content: url('../images/decor-fruits-8.png');
        right: 0;
        bottom: rem(-100px);
    }

}