.why {
    background: url('../images/list_gray.png') left center no-repeat;

    &__heading {
        margin-bottom: rem(50px);
    }
    

    &::after{
        content: url('../images/decor-fruits-1.png');
        position: absolute;
        left: 0;
        bottom: calc(#{rem(-160px)} / 2);

        @include phone {
            display: none;
        }
    }

    @include tablet {
        background-position-y: rem(84px);

        //вызывает вопрос, правильно ли или надо добавить еще класс?
        .why__heading .heading__title {
            margin-bottom: 10px;
        }
    }

    @include phone {
        background: unset;
    }

}