$blueColor: #86C3D7;
$greenColor: #497870;

$container: 940px;


@import "basic";
@import "_chooko";
@import "_header";
@import "_nav";
@import "_advantages";
@import "_advantage";
@import "_btn";
@import "_heading";
@import "_feature";


