$blueColor: #86C3D7;
$greenColor: #497870;
$greenColorDark: #365A49;
$blackColor: #292929;

$container: 940px;

//add workshop 2
$basisFontSize: 18px;


//breackpoints
$tablet: 768px;
$phone: 480px;



@import "_function";

@import "_basic";
@import "_logo";
@import "_chooko";
@import "_header";
@import "_humburger";
@import "_nav";
@import "_advantages";
@import "_advantage";
@import "_btn";
@import "_section";
@import "_heading";
@import "_section-why";
@import "_features";
@import "_feature";
@import "_section-reviews";
@import "_reviews";
@import "_round-pic";
@import "_section-delivery";
@import "_form";
@import "_label-group";
@import "_radio";
@import "_section-slider";
@import "_slider";
@import "_slider-nav";
@import "_products";
@import "_product";
@import "_compound";
@import "_compound-detail";
@import "_dots";
@import "_mobile_menu";
@import "_media";
@import "_close";
@import "_arrow";



